* {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
}

body {
  background-color: #b69dd3;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.heading {
  font-size: 3rem;
  text-align: center;
  width: 100%;
  color: whitesmoke;
  background: linear-gradient(to bottom right, #493ab3, #ca67ab);
  padding: 0.5rem 0;
}
.container {
  margin-top: 2.5rem;
  max-width: 500px;
  color: whitesmoke;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.screen {
  height: 3rem;
  font-size: 3rem;
  text-align: end;
  padding-top: 5rem;
  padding-right: 0.7rem;
  padding-bottom: 0.3rem;
  border-radius: 1rem 1rem 0 0;
  background: linear-gradient(to bottom right, #493ab3, #ca67ab);
}
.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background: linear-gradient(to bottom right, #493ab3, #ca67ab);
  border-radius: 0 0 1rem 1rem;
}
.keyboard button {
  cursor: pointer;
  color: whitesmoke;
  font-size: 2rem;
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin: 0.5rem;
}
.back {
  background: #936eb9;
}

#exx{
  grid-column-start: 3;
  grid-column-end: 5;
}

